// Architectures
ARCHS = x86_64

// Build Locations
SDKROOT = macosx
SYMROOT = $(SeparateBuilds)/Fold3D
CONFIGURATION_BUILD_DIR = $(HOME)/Library/Application Support/BBEdit/Language Modules

// Search Paths
HEADER_SEARCH_PATHS = $(inherited) $(BBEdit_SDK)/Interfaces/**

// Build Options
PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = NO
DEBUG_INFORMATION_FORMAT = dwarf

// Linking
MACH_O_TYPE = mh_bundle
PREBINDING = NO
ZERO_LINK = NO

// Packaging
PRODUCT_NAME = Fold3D
WRAPPER_EXTENSION = bblm
INFOPLIST_FILE = Info.plist

// Signing
CODE_SIGN_IDENTITY = Developer ID Application: James Walker (FDHC2KMZ6V)
CODE_SIGN_STYLE = Manual

// Deployment
MACOSX_DEPLOYMENT_TARGET = 10.7
INSTALL_PATH = "$(HOME)/Applications/BBEdit.app/Contents/Language Modules/"
INSTALL_MODE_FLAG = ug+w,o-w,a+rX
COPY_PHASE_STRIP = NO

// Code Generation
GCC_SYMBOLS_PRIVATE_EXTERN = YES
GCC_INLINES_ARE_PRIVATE_EXTERN = YES

// Language
CLANG_CXX_LANGUAGE_STANDARD = gnu++0x
CLANG_CXX_LIBRARY = libc++
GCC_PREFIX_HEADER = prefix.h

// Warnings
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_NON_VIRTUAL_DESTRUCTOR = YES
GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS = YES
GCC_WARN_TYPECHECK_CALLS_TO_PRINTF = YES
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_MISSING_PARENTHESES = YES
GCC_WARN_CHECK_SWITCH_STATEMENTS = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNUSED_PARAMETER = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_UNUSED_VALUE = YES
GCC_WARN_SIGN_COMPARE = YES
GCC_WARN_SHADOW = YES
WARNING_CFLAGS = -Wmost -Wno-four-char-constants -Wno-unknown-pragmas
