// Architectures
ARCHS = $(ARCHS_STANDARD)
ONLY_ACTIVE_ARCH = NO

// Build Locations
CONFIGURATION_BUILD_DIR = $(HOME)/Library/Application Support/BBEdit/Language Modules

// Search Paths
HEADER_SEARCH_PATHS = $(inherited) $(BBEdit_SDK)/Interfaces/**
ALWAYS_SEARCH_USER_PATHS = NO

// Build Options
PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = NO
DEBUG_INFORMATION_FORMAT = dwarf

// Linking
MACH_O_TYPE = mh_bundle
PREBINDING = NO
ZERO_LINK = NO

// Packaging
PRODUCT_BUNDLE_IDENTIFIER = com.jwwalker.fold3d
PRODUCT_NAME = VRML+3DMF
WRAPPER_EXTENSION = bblm
INFOPLIST_FILE = Info.plist

// Versioning
CURRENT_PROJECT_VERSION = 1.3
// supposed to have at most one decimal, CFBundleVersion
MARKETING_VERSION = 1.2.2
// corresponds to CFBundleShortVersionString

// Signing
CODE_SIGN_STYLE = Automatic
PROVISIONING_PROFILE_SPECIFIER = 
CODE_SIGN_IDENTITY = Apple Development
CODE_SIGN_IDENTITY[sdk=macosx*] = -

// Deployment
MACOSX_DEPLOYMENT_TARGET = 10.15
INSTALL_PATH = "$(HOME)/Applications/BBEdit.app/Contents/Language Modules/"
INSTALL_MODE_FLAG = ug+w,o-w,a+rX
COPY_PHASE_STRIP = NO

// Code Generation
GCC_SYMBOLS_PRIVATE_EXTERN = YES
GCC_INLINES_ARE_PRIVATE_EXTERN = YES

// Language
CLANG_CXX_LANGUAGE_STANDARD = c++20
CLANG_CXX_LIBRARY = libc++
GCC_PREFIX_HEADER = prefix.h
CLANG_ENABLE_OBJC_WEAK = YES

// Warnings
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_NON_VIRTUAL_DESTRUCTOR = YES
GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS = YES
GCC_WARN_TYPECHECK_CALLS_TO_PRINTF = YES
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_MISSING_PARENTHESES = YES
GCC_WARN_CHECK_SWITCH_STATEMENTS = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNUSED_PARAMETER = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_UNUSED_VALUE = YES
GCC_WARN_SIGN_COMPARE = YES
GCC_WARN_SHADOW = YES
WARNING_CFLAGS = -Wmost -Wno-four-char-constants -Wno-unknown-pragmas
